.header {
  border-bottom: 1px solid var(--third-background);

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700px;
  line-height: 1.19;
}
.header__logo {
  margin-right: 93px;
}

.logo_color {
  color: var(--title-text-color);
  // font-family: "Raleway", sans-serif;
  // font-size: 26px;
  // font-weight: 700px;
  // line-height: 1.19;
}

.header__nav {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link.active {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -33px;
  }
}

.header__address-list {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.header__address-item {
  margin-right: 50px;
}

.header__address-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
  align-items: center;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header__address-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .header__address-link:hover &,
  .header__address-link:focus & {
    fill: var(--accent-color);
  }
}
